h3 {
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    text-align: center;
}

.container {
    display: flex;
}
  
.box {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px;
    padding: 80px;
    margin-top: 15%;
    div{
        text-align: center;
    }
}

/* Estilo para o valor da temperatura */
.box p {
    margin: 0;
    color: #0b0b0b;
    font-size: 36px; /* Define o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
  }

button {
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    background-color: burlywood;
    border: 0;
    border-radius: 10px;
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    font-weight: 600;
}

.fadein {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}