<app-header></app-header>
<main class="fadein">

    <div class="container">
        <div class="box">
            <h3>Programa de temperatura da Geladeira:</h3>
            <div>
                <button (click)="decrement()">-</button>
                <input type="range" min="1" max="5" [(ngModel)]="temp">
                <button (click)="increment()">+</button>
                <span>{{temp}} </span>
            </div>
        </div>
        <div class="box">
            <h3>Umidade:
            </h3>
            <p>{{umidade}}</p>
        </div>
        <div class="box">
            <h3>Temperatura:</h3>
            <p>{{temp_ambient}}</p>
        </div>
        <div class="box">
            <h3>Status Porta:</h3>
            <p>{{door_status}}</p>
        </div>
    </div>

    <div class="container">
        <div class="camera">
            <div class="btn">
                <button (click)="subir()">Subir Câmera</button>
                <button (click)="descer()">Abaixar Câmera</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="grafico" *ngIf="isBrowser">
            <div echarts [options]="Option"></div>
        </div>
    </div>

    <div class = "container">
        <label for="startDateTime">Data e Hora Inicial:</label>
        <input type="datetime-local" id="startDateTime" [(ngModel)]="startDateTime">
        
        <label for="endDateTime">Data e Hora Final:</label>
        <input type="datetime-local" id="endDateTime" [(ngModel)]="endDateTime">

        <div class="btn">
            <button (click)="filterData()">Filtrar Dados</button>
        </div>
        
        
      </div>
  
</main>
<app-footer></app-footer>