<app-header></app-header>
<main class="fadein">

    <div class="container">
        <div class="box-control">
            <h3>Programa de temperatura da Geladeira:</h3>
            <div>
                <button (click)="decrement()">-</button>
                <input type="range" min="1" max="5" [(ngModel)]="temp">
                <button (click)="increment()">+</button>
                <span>{{temp}} </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box-temp-umid">
            <h3>Temperatura:</h3>
            <p>{{temp_ambient}}</p>
        </div>
        <div class="box-temp-umid">
            <h3>Umidade:
            </h3>
            <p>{{umidade}}</p>
        </div>
    </div>

    <div class="container">
        <div class="box-porta">
            <h3>Status Porta:</h3>
            <p>{{door_status}}</p>
        </div>
    </div>

    <div class="container">
        <div class="box-camera">
          <div class="btn">
            <button (click)="subir()"><i class="fas fa-arrow-up"></i></button>
            <button (click)="descer()"><i class="fas fa-arrow-down"></i></button>
            <button (click)="loadLatestImage()"><i class="fas fa-image"></i></button>
            <button (click)="loadCameraData()"><i class="fas fa-images"></i></button>
            <button (click)="prevImage()" [disabled]="currentImageIndex === 0"><i class="fas fa-arrow-left"></i></button>
            <button (click)="nextImage()" [disabled]="currentImageIndex === cameraData.length - 1"><i class="fas fa-arrow-right"></i></button>
        </div>
          
          <div *ngIf="cameraData.length > 0" class="image-container">
            <h3 class="timestamp">{{ cameraData[currentImageIndex]?.timestamp }}</h3>
            <img [src]="'data:image/jpeg;base64,' + cameraData[currentImageIndex]?.base64_image" alt="Camera Image" class="responsive-image">
          </div>
        </div>
      </div>

    <div class="container">
        <div class="box-graf" *ngIf="isBrowser">
            <h3>Gráfico de Temperatura e Humidade:</h3>
            <div echarts [options]="Option"></div>
        </div>
    </div>

    <div class="container">
        <div class="box-graf" *ngIf="isBrowser">
            <h3>Gráfico de Abertura da Porta:</h3>
            <div echarts [options]="Option2"></div>
        </div>
    </div>
  
</main>
<app-footer></app-footer>