<app-header></app-header>
<main class="fadein">

    <div class="container">
        <div class="box-control">
            <h3>Programa de temperatura da Geladeira:</h3>
            <div>
                <button (click)="decrement()">-</button>
                <input type="range" min="1" max="5" [(ngModel)]="temp">
                <button (click)="increment()">+</button>
                <span>{{temp}} </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box-temp-umid">
            <h3>Temperatura:</h3>
            <p>{{temp_ambient}}</p>
        </div>
        <div class="box-temp-umid">
            <h3>Umidade:
            </h3>
            <p>{{umidade}}</p>
        </div>
    </div>

    <div class="container">
        <div class="box-porta">
            <h3>Status Porta:</h3>
            <p>{{door_status}}</p>
        </div>
    </div>

    <div class="container">
        <div class="box-graf-camera">
          <div class="btn">
            <button (click)="subir()">Subir Câmera</button>
            <button (click)="descer()">Abaixar Câmera</button>
            <button (click)="loadLatestImage()">Última Imagem</button>
            <button (click)="loadCameraData()">Todas Imagens</button>
            <button (click)="prevImage()" [disabled]="currentImageIndex === 0">Imagem Anterior</button>
            <button (click)="nextImage()" [disabled]="currentImageIndex === cameraData.length - 1">Próxima Imagem</button>
          </div>
          
          <div *ngIf="cameraData.length > 0" class="image-container">
            <p class="timestamp">{{ cameraData[currentImageIndex]?.timestamp }}</p>
            <img [src]="'data:image/jpeg;base64,' + cameraData[currentImageIndex]?.base64_image" alt="Camera Image" class="responsive-image">
          </div>
        </div>
      </div>

    <div class="container">
        <div class="box-graf-camera" *ngIf="isBrowser">
            <div echarts [options]="Option"></div>
        </div>
    </div>

    <div class="container">
        <div class="box-graf-camera" *ngIf="isBrowser">
            <div echarts [options]="Option2"></div>
        </div>
    </div>
  
</main>
<app-footer></app-footer>