h3 {
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    text-align: center;
}

.container {
    display: flex;
}
  
.box {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px;
    padding: 80px;
    margin-top: 10%;
    div{
        text-align: center;
    }
    p {
        margin: 0;
        color: #0b0b0b;
        font-size: 36px; /* Define o tamanho da fonte */
        text-align: center; /* Centraliza o texto */
      }
}

.camera {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px;
    padding: 80px;

    .btn{
        margin-left: 40%;
    }
}

.grafico {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px;
    padding: 80px;
}

button {
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    background-color: burlywood;
    border: 0;
    border-radius: 10px;
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    font-weight: 600;
}

.fadein {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 10%;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}