h3 {
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-control,
.box-camera,
.box-graf,
.box-filtro,
.box-temp-umid,
.box-porta {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px;
    padding: 80px;
    box-sizing : border-box;

    div {
        text-align: center;
    }

    p {
        margin: 0;
        color: #0b0b0b;
        font-size: 46px;
        text-align: center;
    }
}

.box-temp-umid {
    flex: 1;
}

button {
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    background-color: burlywood;
    border: 0;
    border-radius: 10px;
    letter-spacing: 0.125rem;
    font-family: "Inter Tight";
    font-weight: 600;
}

input[type=datetime-local] {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
}

.fadein {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 10%;
    margin-top: 10%;
}

/* Estilo da container de imagem */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
    max-height: 90vh;
}

/* Estilo para o texto de data/timestamp */
.timestamp {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

.btn {
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.btn button {
    background-color: burlywood;
    border: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.btn button i {
    margin: 0;
} 

.btn button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}