.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #A58355;
    padding: 15px 0;
}

button{
    background-color: #A58355;
    border: 0;
    cursor: pointer;
}

span {
    letter-spacing: 0.12rem;
    font-family: "Inter Tight";
    margin-right: 60px;
    margin-left: 55px;
}

svg {
    margin-left: 35px;
    position: absolute;
}

.git {
    background-color: #A58355;
    border: 0;
    position: absolute;
    right: 85px;
    cursor: pointer;
}